<aside class="sidebar" [class.collapsed]="collapsed">

  <div class="sidebar-header">
    <img src="assets/isgi-sfax-logo-removebg-preview.png" alt="ISGi" class="logo-isgi" />
    <span class="brand-name">Logi<span class="brand-link">Link</span></span>
  </div>

  <div class="avatar-wrap">
    <div class="avatar-box">
      <svg viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
        <circle cx="40" cy="40" r="37" fill="#f5e8d0" />
        <circle cx="40" cy="31" r="8.5" fill="#ffffff" />
        <ellipse cx="40" cy="65" rx="22" ry="12" fill="#ffffff" />
      </svg>
    </div>
  </div>

  <nav class="sidebar-nav">

    <a class="nav-item" routerLink="/admin" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <span class="nav-icon">
        <svg width="17" height="17" viewBox="0 0 24 24" fill="currentColor">
          <rect x="3" y="3" width="8" height="8" rx="1.5" />
          <rect x="13" y="3" width="8" height="8" rx="1.5" />
          <rect x="3" y="13" width="8" height="8" rx="1.5" />
          <rect x="13" y="13" width="8" height="8" rx="1.5" />
        </svg>
      </span>
      <span class="nav-label">Tableau de bord</span>
    </a>

    <a class="nav-item" routerLink="/admin/formations" routerLinkActive="active">
      <span class="nav-icon">
        <svg width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" />
          <polyline points="14,2 14,8 20,8" />
          <line x1="16" y1="13" x2="8" y2="13" /><line x1="16" y1="17" x2="8" y2="17" />
        </svg>
      </span>
      <span class="nav-label">Formations</span>
    </a>

    <a class="nav-item" routerLink="/admin/parametres" routerLinkActive="active">
      <span class="nav-icon">
        <svg width="17" height="17" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
          stroke-linecap="round" stroke-linejoin="round">
          <circle cx="12" cy="12" r="3" />
          <path d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1-2.83 2.83l-.06-.06a1.65 1.65 0 0 0-1.82-.33
            1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-4 0v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33
            l-.06.06a2 2 0 0 1-2.83-2.83l.06-.06A1.65 1.65 0 0 0 4.68 15a1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1 0-4
            h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 2.83-2.83l.06.06A1.65 1.65 0 0 0
            9 4.68a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 4 0v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33
            l.06-.06a2 2 0 0 1 2.83 2.83l-.06.06A1.65 1.65 0 0 0 19.4 9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 0 4
            h-.09a1.65 1.65 0 0 0-1.51 1z" />
        </svg>
      </span>
      <span class="nav-label">Paramètres</span>
    </a>

  </nav>

  <button class="logout-btn" (click)="logout()">Déconnexion</button>

</aside>
